.card {
  padding-top: 20px; 
  box-shadow:  8px 8px 10px 0px black;
  background-color: #fff;
  border: 1px solid #e9e7e7;
  width: 50rem;
  margin: 50px auto;
}

.card-img-top {
  padding-left: 25%; 
  margin: 0 auto;
  width: 80%;
  height: 500px;
}

.card-title {
  text-align: center;
  text-decoration: underline;
};

.card-text {
  padding: 20px;
}; 